name: build fox11 debug

on:
  workflow_dispatch:
      inputs:
        gkchl:
          type: string
          required: true
          default: 'arm64-v8a'
          description: 'geckoview chanel'
        gkver:
          type: string
          required: true
          default: '73.0.20200217142647'
          description: 'version of geckoview'
        
        
        

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    # update/set geckoview chanel and version
    - name: set gecko chanel&ver
      run: |
        sed -i 's/gkver/${{inputs.gkver}}/' app/build.gradle
        sed -i 's/gkchl/${{inputs.gkchl}}/' app/build.gradle
        cat app/build.gradle
        
  # comment out if you have native code; see the readme
  #  - uses: nttld/setup-ndk@v1
   #   with:
    #    ndk-version: r25b
    #    local-cache: true

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew assembleRelease

    - name: lsd
      run: ls -lhR app/build/outputs

    - name: upload
      uses: actions/upload-artifact@v4
      with:
        name: app-release-${{inputs.gkchl}}-${{inputs.gkver}}.apk
        path: app/build/outputs/apk/release/
